.admin {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  margin: 0 auto;
}

.admin__title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.admin__buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

  border: 1px solid var(--border-color);
}

.input__file {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.admin__link {
  text-decoration: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  align-self: start;
  padding: 10px;
  color: #000;
  transition: .3s ease-in-out;
}

.admin__link:hover {
  border: 1px solid var(--border-color-active);
}

.admin__button {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  color: #000;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.admin__button:hover {
  border: 1px solid var(--border-color-active);
}

.admin__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

}

.admin__item {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
}

.admin__text {
  margin-right: auto;
}